@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --header-height: 4rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out alternate;
}

@keyframes twinkle {
  from { opacity: 0.3; transform: scale(0.8); }
  to   { opacity: 1;   transform: scale(1.2); }
}


[data-slot^="card"] {

  /* transition: all 0.3s ease-in-out; */
  /* box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);   */
  border: 2px solid rgba(82, 80, 122, 0.528);
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-slot^="card"]:hover {
  /* transform:scale(1.05); */
  box-shadow: 0 0 15px 1px #00fe3f65;
  border: 2px solid transparent;
  background: 
    linear-gradient(#000000, #000000) padding-box,
    linear-gradient(90deg, #535bf2, #f43f5e, #22c55e) border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;   

}

[data-slot^="separator"]{
  box-shadow: 0 0 15px 1px #00fe3f65;
  background:  
    linear-gradient(90deg, #535bf2, #f43f5e, #22c55e) border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;   
}


html {
  scroll-snap-type: y mandatory;   /* kích hoạt snap dọc toàn trang */
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}

section {

  scroll-snap-align: start;        /* mỗi section “bắt” đầu màn hình */
}
section {
  min-height: calc(100vh - var(--header-height));
  height: calc(100vh - var(--header-height));
  padding: 2rem;

  box-sizing: border-box;
}
/* img {
  transition: all 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
} */

@media (min-width: 1024px) {
  .lg\:flex-row { flex-direction: row; } 
}